body {
    background: #ffc0cb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    position:relative;
}

h1{
    font-family: 'Indie Flower', cursive;
    position:absolute;
    top:0;
    left:35%;
    color:aliceblue;
	text-transform: uppercase;
    font-size:4.5em;
}

/*menu hamburger*/

.hamburger_box{
    position:absolute;
    right:170px;
    top:130px;
}

.hamburger{
    width: 40px;
    height: 35px;
    border-top: 5px solid #fff;
    background: transparent;
    position:relative;
    transition: transform 0.3s linear;
}

.hamburger::before, .hamburger::after{
    content:"";
    width:100%;
    position:absolute;
    top:0;
    left:0;
    border-top: 5px solid #fff;
    transform: translateY(10px);

}

.hamburger::after{
    transform: translateY(25px);
    transition: transform 0.3s linear;
}

.hamburger:hover{
    transform: rotate(45deg) translateY(5px);
    border:none;
}

.hamburger:hover:after{
    transform: rotate(-90deg) translateX(-10px);
}
/* end of hamburger */


/*donut animation*/

.donut {
    height: 100px;
    width: 100px;
    border: 90px solid #c39e38;
    border-radius: 50%;
    position: relative;
/*    box-shadow: -20px -3px 20px 2px rgba(0,0,0, .53);*/
    animation: donutSpinner 150s linear infinite alternate;	
}

.donut::before {
    content: "";
    height: 100px;
    position: absolute;
    border: 83px solid #654f11;
    border-radius: 50%;
    width: 100px;
    top: -83px;
    left: -83px;
    transform: scale(1.1);
/*    box-shadow: -20px -3px 20px 2px rgba(0,0,0, .23);*/
    animation: donutSpinner 100s linear infinite alternate;	

}

.donut::after {
    content: "";
    width: 2px;
    height: 10px;
    position: absolute;
    background: #ffffff;
    top: -70px;
    left: 50px;
    border-radius: 3px;
    transform: rotate(30deg);
    box-shadow:
        0 20px 0  #fff,    /* pierwszy parametr to polozenie w osi x drugi w osi y trzeci rozmycie blur  */
        60px 20px 0 1px #fdfd24,
        -30px 80px 0 #e30953,
        -10px 160px 0 1px #fdfd24,
        30px 160px 0 #e30954,
        50px 200px 0 1px #fdfd24,
        130px 100px 0 #fc84f3,
        150px 50px 0 1px #fdfd24,
        100px 3px 0 2px #e30954,
        140px 170px 0 1px #fffcfc,
        100px 150px 0 1px #fc84f3,
        -20px 100px 0 1px #fdd324,
        -40px 40px 0 1px #fffcfc,
        -50px 120px 0 2px #fc84f3,
        120px 40px 0 2px #ffffff,
        20px 40px 0 2px #5b7ff7,
        0 200px 0 2px #5b7ff7,
        120px 170px 0 2px #7888bc,
        140px 12px 0 2px #fc84f3,
        80px 200px 0 2px #462525,
        60px -10px 0 2px #000000,
        160px 80px 0 2px #292323,
        160px 130px 0 2px #fdfd24,
        60px -10px 0 2px #000000;
}

.donut:hover{
    animation:none;
}

.donut:hover::before{
    animation:none;
}

/* donut finish */


/*

@media (max-width: 576px;){
    h1{
        font-size: 2em;
    }
}
*/


/* animation for donut */

@keyframes donutSpinner{
    0%{
       transform: rotate(0deg);
/*        box-shadow: -20px -3px 20px 2px rgba(0,0,0, .23);*/
    }
    100%{
        transform: rotate(3600deg);
/*        box-shadow: -20px -3px 20px 2px rgba(0,0,0, .45);*/
    }
}
